.addpp{
    .mains{
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .main{
            color: #cc1f5b;
            width: 350px;
            height:auto;
            margin-top: 8%;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            border-radius: 8px;
            background-color: white;
            input[type="text"]{
                padding: 10px;
                margin-bottom: 1%;
                border-radius: 8px;
                border: none;
                width: 90%;
                margin-top: 4%;
                border: 1px solid black;
            }
            select{
                margin-bottom: 4%;
                padding: 10px;
                border-radius: 8px;
                border: none;
                width: 96%;
                border: 1px solid black;
                margin-top: 3%;
            }
            .button-24 {
                width: 90%;
                margin-top: 3%;
                background-color: #cc1f5b;
                border: 1px solid #cc1f5b;;
                border-radius: 6px;
                box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
                box-sizing: border-box;
                margin-left: 3%;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
                font-size: 16px;
                font-weight: 800;
                line-height: 16px;
                min-height: 40px;
                outline: 0;
                padding: 10px 15px;
                text-align: center;
                text-rendering: geometricprecision;
                text-transform: none;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: middle;
                }

                .button-24:hover,
                .button-24:active {
                background-color: initial;
                background-position: 0 0;
                color: #cc1f5b;
                }

                .button-24:active {
                opacity: .5;
                }
                
                .display{
                    width: 100px;
                    height: 100px;
                    img{
                        object-fit: cover;
                        display: flex;
                        width: 100%;
                        height: 100%;
                    }
                }

        }
    }

}