.seller{
    .main{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    .left{
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;        
        // border: 1px solid black;
        width: 25%;
        height: 100%;
        margin-top:2.5%;
        text-align: center;
            .image{
                width: 250px;
                height: 250px;
                margin: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;

            }
            }
            .content{
                text-align: center;
                margin-top: 15px;
                
            }
            .button-3 {
            margin: 5%;  
            appearance: none;
            background-color: #cc1f5b;
            border: 1px solid rgba(27, 31, 35, .15);
            border-radius: 6px;
            box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            padding: 9px 39px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            // display: flex;
            // flex-direction: column;
            }

            .button-3:focus:not(:focus-visible):not(.focus-visible) {
            box-shadow: none;
            outline: none;
            }

            .button-3:hover {
                background-color: #b0164c;
            }

            .button-3:focus {
            box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
            outline: none;
            }

            .button-3:disabled {
            background-color: #94d3a2;
            border-color: rgba(27, 31, 35, .1);
            color: rgba(255, 255, 255, .8);
            cursor: default;
            }

            .button-3:active {
            background-color: #298e46;
            box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
            }
            .button-24 {
            background: #FF4742;
            border: 1px solid #FF4742;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
            font-size: 16px;
            font-weight: 800;
            line-height: 16px;
            min-height: 40px;
            outline: 0;
            padding: 12px 14px;
            text-align: center;
            text-rendering: geometricprecision;
            text-transform: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            }

            .button-24:hover,
            .button-24:active {
            background-color: initial;
            background-position: 0 0;
            color: #FF4742;
            }

            .button-24:active {
            opacity: .5;
            }
            
    }
    .right{
        width: 75%;
        height: 100%;
        .button-9 {
        appearance: button;
        backface-visibility: hidden;
        background-color: #e31960;
        border-radius: 6px;
        border-width: 0;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
        font-size: 100%;
        height: 44px;
        line-height: 1.15;
        margin: 12px 0 0;
        outline: none;
        overflow: hidden;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-transform: none;
        transform: translateZ(0);
        transition: all .2s,box-shadow .08s ease-in;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 15%;
        margin-left: 83%;
 
        
        }
        .catm{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .cat{
              margin: 2%;
              width: 150px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              background-color: #b0164c;
              color: white;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              border-radius: 8px;
              h1{
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
              }
              a{
                text-decoration: none;
                color: white;
              }
            }
          }
    
     

    
        .cat{
            margin-left: 40%;
        }

        .button-9:disabled {
        cursor: default;
        }
        .button-9:hover {
            background-color: #b0164c;
        }

        .button-9:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
        }
     }
    }
}
